html{
	overflow-y: scroll;
  }
.main{
	color: black;
	text-align: center;
}

body{
	background-image: url(../images/background.jpg);
}

nav{	
	font-family: arial, helvetica, sans-serif;
	color: rgb(200, 255, 0);
	margin-left: 0%;
}

img.medium{
	width: 75%;
}

img.small{
	width: 30%;
}
article{
	background-color: rgb(112, 112, 112, .8);
	margin-left: 20%;
}
header{
	margin-left: 20%;
	background-color: #2b2b2b;
}

aside{
	float: left;
	width: 20%;
}

.logo{
	width: 15%;
	float: right;
}






header nav ul, aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2b2b2b;
  }
  
header nav li{
	float: left;
  }
  
header nav li a, aside li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
header nav li a:hover:not(.active), aside li a:hover:not(.active) {
	background-color: #3f93f2;
  }
  
header nav .active, aside .active{
	background-color: #0c07fa;
  }

  aside ul {
	color: #ffffff;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2b2b2b;
  }

  aside li {
	text-align: center;
  }
 
  aside li a, .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
  }
  
  aside li a:hover {
	background-color: #3f93f2;
  }

  .dropdown:hover .dropbtn {
	background-color: #0c07fa;
  }

  aside li.dropdown {
	display: inline-block;
  }
  
  aside .dropdown-content {
	display: none;
	background-color: #555555;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  aside .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  aside .dropdown-content a:hover {background-color: #555555;}
  
  aside .dropdown:hover .dropdown-content {
	display: block;
  }






  h1{
	text-align: center;
	color: #ffffff;
  }

  h3{text-align: center;
	color: black;}




	table, th, tr, td{
		border-collapse: collapse;
		
	}

	table{
		margin-left: auto;
		margin-right: auto;
		border: 2px solid black;
	}

	th{
		background-color:#555555 ;
		height: 50px;
		width: 300px;
		border: 3px solid black;
	}

	tr, td{
		border: 2px solid black;
	}

	.bezig{
		background-color: rgb(30, 126, 252, .6) ;
	}
	.klaar1{
		background-color: rgb(30, 252, 71, .6)
	}
	.klaar2{
		background-color: rgb(252, 30, 30, .6) ;
	}
	.herkansen{
		background-color: rgb(252, 252, 30, .6) ;
	}