.main{
	color: black;
	text-align: center;
	background-color: #555555;
}

body{
	background-color: #707070;
}

nav{	
	font-family: arial, helvetica, sans-serif;
	color: rgb(200, 255, 0);
	margin-left: 0%;
}

img.medium{
	width: 75%;
}

img.small{
	width: 30%;
}
article{
	background-color: #707070;
	margin-left: 20%;
}
header{
	margin-left: 20%;
	background-color: #2b2b2b;
}

aside{
	float: left;
	background-color: #555555;
	width: 20%;
}

.logo{
	width: 15%;
	float: right;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2b2b2b;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #3f93f2;
  }
  
  .active {
	background-color: #0c07fa;
  }

  h1{
	text-align: center;
	color: #ffffff;
  }